{% extends "base_generic.html" %} 
{% block content %}
<h1>Lista Ksiazek</h1>

{% if moja_ksiazka_list %}
<ul>
  {% for k in moja_ksiazka_list %}
  <li>
    <a href="{{ k.get_absolute_url }}"> {{ k.tytul }} </a> ({{ k.autor }})
    <a href="{% url 'ksiazka-update' k.id %}">Aktualizuj</a>
    <a href="{% url 'ksiazka-delete' k.id %}">Usun</a>
  </li>
  {% endfor %}
</ul>
<a href="{% url 'ksiazka-create' %}">Dodaj ksiazke</a>
<br>
{% else %}
<p>Jeszcze nie mamy ksiazek, moze zechcesz jakas dodac?</p>
<a href="{% url 'ksiazka-create' %}">Dodaj ksiazke</a>
<br>
{% endif %} 
{% endblock %}
