{% extends "base_generic.html" %}
{% block content %}
{% if validlink %}
<p>Wpisz nowe haslo.</p>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.new_password1.errors }}</td>
            <label for="id_new_password1">Nowe haslo:</label>
            <td>form.new_password1</td>
            <td>{{ form.new_password2.errors }}</td>
            <label for="id_new_password1">Potwierdz haslo:</label>
            <td>form.new_password2</td>
            <tr>
                <td></td>
                <td><input type="submit" value="Zmien haslo"></td>
            </tr>
        </tr>
    </table>
</form>
{% else %}
<h1>Problem ze zmiana hasla</h1>
<p>Link byl wczesniej uzyty. Powtorz zadanie zmiany hasla.</p>
{% endif %}
{% endblock %}